mat-card {
  max-width: 80%;
  margin: 2em auto;
  text-align: center;
}

.full-widht {
  width: 100%;
  margin-top: 1%;
}

.min-width {
  width: 110%;
  min-width: 150px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}
